.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: calc(var(--navbar-height) - (var(--navbar-padding) * 2));
    padding: var(--navbar-padding);
    background-color: var(--navbar-bg);
    box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
}
